@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
/* font-family: "Secular", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: "Roboto", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies&display=swap");
/* font-family: "Rowdies", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Secular One", sans-serif;
  color: #895159;
}

body {
  background-color:#fffcf5;
  width: 99vw;
}

main {
  margin-top: 4rem;
}

.logoPetMain {
  width: 14vw;
}

.centralizarHeader {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  background: #f8ebe2;
}

#pesquisa {
  padding: 1rem;
  width: 20vw;
  height: 4vh;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: #dfb1a12c;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
}

.icones {
  display: flex;
  margin-left: 3rem;
  gap: 2rem;
  justify-content: center;
}

.categorias_header > nav > ul {
  margin-top: 2rem;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem; 
  list-style-type: none;
}

.categorias_header > nav > ul > li > a {
  font-size: 2rem;
  text-decoration: none;
  color: #dfaea1;
}

.categorias_header > nav > ul > li:hover {
  color: #374375;
  cursor: pointer;
  border-bottom: 0.2rem solid #374375;
}

/* FIM HEADER E NAV*/

.about{
  height: 90vh;
  padding: 1rem 10rem;
}

.text-about {
  line-height: 2.4rem;
}

.sobre {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.sobre > h1 {
  font-size: 3rem;
}

.sobre > p >  a {
  font-size: 1.6rem;
  text-decoration: none;
}

.sobre > p >  a:hover {
  border-bottom: .2rem solid #374375;
}

strong {
  font-size: 1.6rem;
  font-weight: 700;
}

.sobre > p {
  font-size: 1.7rem;
}

.sobre > p > span > a {
  font-size: 1.7rem;
  text-decoration: none;
  cursor: pointer;
  
}

.sobre > p > span > a:hover {
  border-bottom: solid .2rem #374375;
}
/* FIM TEXTO ABOUT */

.participantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}

.participantes_img {
  display: flex;
  justify-content: center;
}

.participantes_img figure {
  position: relative;
  width: 32rem;
  height: 32rem;
  overflow: hidden;
  border-radius: 50; /* remova o border-radius para manter a imagem quadrada */
}

.participantes_img figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.participantes_img figure:hover img {
  transform: scale(1.2);
}

.participantes_img figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 1.6rem;
}

.participantes_img figure figcaption p {
  color: white;
}

.participantes_img figure:hover figcaption {
  opacity: 1;
}

.participantes > h2 {
  font-size: 2.5rem;
}

/* INICIO FOOTER */

footer {
  background: #89515981;
  width: 100%;
}

.parceiros {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.text-parceiros {
  font-size: 1.7rem;
}

.imagens-parceiros > img {
  width: 15rem;
}


.organiza-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.autores > p {
  font-size: 1.5rem;
}

.autores {
  text-align: center;
}

.autores > p > a {
  font-size: 1.5rem;
}