@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
/* font-family: "Secular", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: "Roboto", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies&display=swap");
/* font-family: "Rowdies", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Secular One", sans-serif;
  color: #895159;
}

body {
  background-color:#fffcf5;
}

main {
  margin-top: 4rem;
  padding: 2rem 8rem;
}

.logoPetMain {
  width: 16vw;
}

.centralizarHeader {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  background: #f8ebe2;
}

#pesquisa {
  padding: 1rem;
  width: 20vw;
  height: 4vh;
  font-size: 1.2rem;
  border-radius: 1.2rem;
  background-color: #dfb1a12c;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
}

.icones {
  display: flex;
  margin-left: 3rem;
  gap: 2rem;
  justify-content: center;
}

.categorias_header > nav > ul {
  margin-top: 2rem;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem; 
  list-style-type: none;
}

.categorias_header > nav > ul > li > a {
  font-size: 2rem;
  text-decoration: none;
  color: #dfaea1;
}

.categorias_header > nav > ul > li:hover {
  color: #374375;
  cursor: pointer;
  border-bottom: 0.2rem solid #374375;
}

/* FIM HEADER E NAV*/

.about{
  width: 50vw;
  height: 90vh;
}

.sobre {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.sobre > h1 {
  font-size: 3rem;
}

strong {
  font-size: 1.6rem;
  font-weight: 700;
}

.sobre > p {
  font-size: 1.7rem;
}

.sobre > p > span > a {
  font-size: 1.7rem;
  text-decoration: none;
  cursor: pointer;
  
}

.sobre > p > span > a:hover {
  border-bottom: solid .2rem #374375;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.patrocinadores {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;  
  background-color: #895159b9;
}

 .logo > img {
  width: 15rem;
}

.autores {
  font-size: 1.6rem;
  flex-direction: row;
  text-align: center;
}