@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/* font-family: "Secular", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: "Roboto", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies&display=swap');
/* font-family: "Rowdies", sans-serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Secular One', sans-serif;
    color: #895159;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffcf5;
    position: relative;
}
/* PADRÃO: INICIO HEADER */ 
/* INICIO DO HEADER */
header {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: relative;
    padding-bottom: 1rem;
    background-color: #8951590a;
}

.linhaSuperior {
    width: 100%;
    height: 4rem;
    border-bottom: .2rem solid rgba(198, 198, 198, 0.562);
}

.categoriasHeader {
    border-top: .2rem solid rgba(198, 198, 198, 0.562);
    height: 3rem;
    width: 100%;
}

.logoPetMain {
    position: absolute;
    top: 7rem;
    left: 50rem;
}

.lupa {
    position: absolute;
    left: 76rem;
    top: 4.6rem;
    width: 1.7rem;
}

.centralizarHeader {
    width: 18rem;
}

#pesquisa {
    width: 20vw;
    height: 5vh;
    font-size: 1.2rem;
    border-radius: 1.3rem;
    padding-left: 4rem;
    border: 0;
    background-color: #dfb1a12c;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
}

#pesquisa::placeholder {
    color: rgba(137, 81, 89, 0.342)
}

.icones {
    display: flex;
    gap: 3rem;
    margin-left: 5rem;
    margin-top: 1rem;
}

.icones > figure > img {
    width: 4rem;
}
/* FIM DO HEADER */
main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
/* INICIO MENU NAVEGAÇÃO */
.categorias_header {
    width: 80vw;
    height: 8vh;
}

.categorias_header > nav > ul {
    display: flex;
    justify-content: center;
    gap: 5rem;
    position: absolute;
    top: 0;
    left: 60rem;
}

.categorias_header > nav > ul > li {
    font-size: 2.5rem;
    list-style: none;
    font-family: "Secular One", sans-serif;
    color: #DFAEA1;
}

.categorias_header > nav > ul > li:hover {
    color: #374375;
    cursor: pointer;
    border-bottom: 0.3rem solid #374375;
}

/* FIM MENU NAVEGAÇÃO */
/* PADRÃO: FIM HEADER */


/* INICIO DO ARTICLE */

/* INICIO BANNER */
.banner {    
    width: 100%;
    background-image: url(Imagens/acessoriosBanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 25vh;
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #afa39f94;
}
/* FIM BANNER */
/* INICIO SEÇÃO COMPRAS */
.compra {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 5rem;
}
/* FIM SEÇÃO COMPRAS */
/* INICIO SEÇÃO FILTRO */
.filtro {
    width: 16vw;
    height: 100%;
    border-right: .1rem solid #77798d2d;;
    display: flex;
    align-items: center;
    row-gap: 2rem;
    flex-direction: column;
}

/* INFORME SEU CEP */
.CEP {
  width: 85%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: start;
  border-bottom: .1rem solid #77798d2d;
}

.caixaCEP {
  width: 20rem;
  height: 7rem;
  background-color: #fffcf5;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: start;
  box-shadow: rgba(0, 0, 0, 0.384) 0px 1px 3px, rgba(0, 0, 0, 0.090) 0px 1px 1px;
  }

.caixaCEP div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 92%;
  width: 96%;
  gap: .6rem;
}

.caixaCEP div h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #77798D;
  margin-left: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.caixaCEP div div {
  width: 100%;
  height: 50%;
  align-self: end;
  border-radius: .5rem;
  border: .1rem solid #77798d86;
}

.caixaCEP div div p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 95%;
  text-align: start;
  color: #77798d86;
  text-align: start;
}

/* (FIM) INFORME SEU CEP */

/* FILTRO:MARCA */

.marca {
  width: 85%;
  height: 17rem;
  display: flex;
  justify-content: center;
  align-items: start;
  border-bottom: .1rem solid #77798d2d;
}

.marca div {
  width: 19rem;
  height: 15rem;
  flex-direction: column;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: start;
}

.marca div h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #77798D;
  font-family: "Roboto", sans-serif;
}

.buscar {
  width: 98%;
  height: 50%;
  align-self: center;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  border: .1rem solid #77798d86;
}

.marca div div p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 95%;
  color: #77798d86;
  text-align: start;
}

.opcao {
  list-style: none;
  height: 2rem;
}

.opcao input:checked {
    accent-color: #374375;
}


.label {
font-family: "Roboto", sans-serif; 
color: #374375;
font-size: 1rem;
margin-left: 1rem;
}

/* OPÇAO PET */

.pet div div p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 95%;
  color: #77798d86;
  text-align: start;
}

.pet {
  width: 85%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: start;
  border-bottom: .1rem solid #77798d2d;
}

.pet div {
  width: 19rem;
  height: 9rem;
  flex-direction: column;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: start;
}

.pet div h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #77798D;
  font-family: "Roboto", sans-serif;
}

/* FIM OPÇAO PET */

/* OPÇAO TAMANHO */

.tamanho div div p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 95%;
  color: #77798d86;
  text-align: start;
}

.tamanho {
  width: 85%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: start;
  border-bottom: .1rem solid #77798d2d;
}

.tamanho div {
  width: 19rem;
  height: 10rem;
  flex-direction: column;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: start;
}

.tamanho div h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #77798D;
  font-family: "Roboto", sans-serif;
}

/* FIM OPÇAO TAMANHO */

/* OPÇAO COR */

.cor {
  width: 85%;
  height: 19rem;
  display: flex;
  justify-content: center;
  align-items: start;
  border-bottom: .1rem solid #77798d2d;
}

.cor div {
  width: 19rem;
  height: 16.5rem;
  flex-direction: column;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: start;
}

.cor div h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #77798D;
  font-family: "Roboto", sans-serif;
}

.buscar {
  width: 98%;
  height: 50%;
  align-self: center;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  border: .1rem solid #77798d86;
}

.cor div div p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 95%;
  color: #77798d86;
  text-align: start;
}

/* FIM OPÇAO COR */

/* OPÇAO AVALIAÇÃO */

.avaliacao div div p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 95%;
  color: #77798d86;
  text-align: start;
}

.avaliacao {
  width: 85%;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: start;
}

.avaliacao div {
  width: 19rem;
  height: 12rem;
  flex-direction: column;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: start;
}

.avaliacao div h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #77798D;
  font-family: "Roboto", sans-serif;
}

.estrelas {
  width: 7rem;
}

/* FIM OPÇAO AVALIAÇÃO */

/* FIM SEÇÃO FILTRO */
/* INICIO SEÇÃO PRODUTOS */

.produtos {
    width: 77vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.topo {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.topo h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3.5rem;
    position: absolute;
    top: 3rem;
    left: 17rem;
}

.form {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5rem;
  padding: 1rem;
  border-radius: 1rem;
  top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.384) 0px 1px 3px, rgba(0, 0, 0, 0.090) 0px 1px 1px;
}

#escolha {
  font-size: 1.7rem;
  border-radius: .5rem;
  padding-left: rem;
  color: #374375;
  border: 0;
  background-color: #fffcf5;
  font-family: "Roboto", sans-serif;
}


#title {
  font-size: 1.2rem;
  margin-left: .5rem;
  color: #374375;
  font-family: "Roboto", sans-serif;
}

#escolha option {
border: 0;
color: #374375;
font-family: "Roboto", sans-serif;
}
.escolha option {
  border: 0;
}

.caixas {
    display: flex;
    flex-direction: column;
}

.linha1 {
  width: 80vw;
  height: 55vh;
  margin-top: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Secular One", sans-serif;
  gap: 6rem;
  padding: 0 0 3rem 0;
  position: absolute;
  left: 30rem;
}
  
figcaption {
  font-weight: 300;
}

span {
  color: #830013;
  font-weight: 500;
}

.adicionar {
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  bottom: 3.5rem;
  }
  
.color {
  width: 20rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #292726;
  border-radius: 2rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 1.5rem;
  position: absolute;
  bottom: 10rem;
}
  
.adicionar {
  border: none;
  }
  
.adicionar:hover {
  color: #ffffff;
  background-color: #374375;
  box-shadow: 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.233);
}
  

.linha1 > div {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 25rem;
  background-color: #dfbfb6a2;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  color: #374375;
  box-shadow: 0.5rem 0.5rem 0.5rem #afa39f94;
}

.linha2 {
  width: 80vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Secular One", sans-serif;
  gap: 6rem;
  padding: 0 0 3rem 0;
  position: absolute;
  left: 30rem;
  top: 95rem;
}
  
figcaption {
  font-weight: 300;
}

span {
  color: #830013;
  font-weight: 500;
}

.adicionar {
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  }
  
.color {
  width: 20rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8ebe2;
  border-radius: 2rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 1.5rem;
}
  
.adicionar {
  border: none;
  }
  
.adicionar:hover {
  color: #ffffff;
  background-color: #374375;
  box-shadow: 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.233);
}
  

.linha2 > div {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 25rem;
  background-color: #dfbfb6a2;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  color: #374375;
  box-shadow: 0.5rem 0.5rem 0.5rem #afa39f94;
}

.linha3 {
  width: 80vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Secular One", sans-serif;
  gap: 6rem;
  padding: 0 0 3rem 0;
  position: absolute;
  left: 30rem;
  top: 145rem;
}
  
figcaption {
  font-weight: 300;
}

span {
  color: #830013;
  font-weight: 500;
}

.adicionar {
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  }
  
.color {
  width: 20rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8ebe2;
  border-radius: 2rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 1.5rem;
}
  
.adicionar {
  border: none;
  }
  
.adicionar:hover {
  color: #ffffff;
  background-color: #374375;
  box-shadow: 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.233);
}
  

.linha3 > div {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 25rem;
  background-color: #dfbfb6a2;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  color: #374375;
  box-shadow: 0.5rem 0.5rem 0.5rem #afa39f94;
}

.linha4 {
  width: 80vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Secular One", sans-serif;
  gap: 6rem;
  padding: 0 0 3rem 0;
  position: absolute;
  left: 30rem;
  top: 195rem;
}
  
figcaption {
  font-weight: 300;
}

span {
  color: #830013;
  font-weight: 500;
}

.adicionar {
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  }
  
.color {
  width: 20rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8ebe2;
  border-radius: 2rem;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  padding: 1.5rem;
}
  
.adicionar {
  border: none;
  }
  
.adicionar:hover {
  color: #ffffff;
  background-color: #374375;
  box-shadow: 0.3rem 0.3rem 0rem rgba(0, 0, 0, 0.233);
}
  

.linha4 > div {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 25rem;
  background-color: #dfbfb6a2;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
  color: #374375;
  box-shadow: 0.5rem 0.5rem 0.5rem #afa39f94;
}
/* COMEÇO ASIDE */




/* FIM ASIDE */

/* FIM SEÇÃO PRODUTOS */
/* FIM DO ARTICLE */