@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
/* font-family: "Secular", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: "Roboto", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rowdies&display=swap");
/* font-family: "Rowdies", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Secular One", sans-serif;
  color: #895159;
}
@media (max-width: 560px){
body {
    width: 99vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffcf5;
    position: relative;
  }
  /* PADRÃO: INICIO HEADER */
  /* INICIO DO HEADER */
  header {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #8951590a;
    border-top: 2px solid rgba(198, 198, 198, 0.562);
  }
  
  .linhaSuperior {
    width: 100%;
    height: 5vh;
  }
  
  .categoriasHeader {
    border-top: 2px solid rgba(198, 198, 198, 0.562);
    height: 30px;
    width: 100%;
  }
  
  .logoPetMain {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 80px;
  }
  
  .lupa {
    position: absolute;
    left: 107px;
    top: 28px;
    width: 1.2rem;
  }
  
  .centralizarHeader {
    width: 180px;
  }
  
  #pesquisa {
    width: 40vw;
    height: 5vh;
    font-size: 8px;
    border-radius: 1.3rem;
    padding-left: 3rem;
    border: 0;
    background-color: #dfb1a12c;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px inset;
    position: absolute;
    left: 95px;
    top: 20px;
  }
  
  #pesquisa::placeholder {
    color: rgba(137, 81, 89, 0.342);
  }
  
  .icones {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 10px;
    top: 30px;
  }
  
  .icones > div > figure > img {
    width: 15px;
  }
  /* FIM DO HEADER */
  main {
    width: 99vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* INICIO MENU NAVEGAÇÃO */
  .categorias_header {
    width: 80vw;
    height: 8vh;
  }
  
  .categorias_header > nav > ul {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .categorias_header > nav > ul > li {
    font-size: 11.8px;
    list-style: none;
    font-family: "Secular One", sans-serif;
    color: #dfaea1;
  }
  
  .categorias_header > nav > ul > li:hover {
    color: #374375;
    cursor: pointer;
    border-bottom: 3px solid #374375;
  }
  
  /* FIM MENU NAVEGAÇÃO */
  /* PADRÃO: FIM HEADER */
  
  .categorias {
    width: 80vw;
    height: 30vh;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-bottom: rgba(198, 198, 198, 0.562) 0.2rem solid;
    margin: 90px 0;
    position: relative;
  }
  
  .categorias h1 {
    position: absolute;
    top: 15px;
    font-size: 20px;
  }
  
  .racoes {
    width: 25vw;
    height: 12vh;
    border-radius: 50%;
    background-color: #dfb1a141;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #afa39f94;
    color: rgba(226, 199, 199, 0.89);
  }
  
  .acessorios {
    width: 25vw;
    height: 12vh;
    border-radius: 50%;
    background-color: #dfb1a141;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #afa39f94;
    color: rgba(226, 199, 199, 0.89);
  }
  
  .medicamentos {
    width: 25vw;
    height: 12vh;
    border-radius: 50%;
    background-color: #dfb1a141;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #afa39f94;
    color: rgba(226, 199, 199, 0.89);
  }
  
  .caes {
    width: 10vw;
    height: 20vh;
    border-radius: 50%;
    background-color: #dfb1a141;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0.5rem 0.5rem 0.5re #afa39f94;
  }
  .categorias a {
    text-decoration: none;
  }
  
  .racoes:hover .categoriaTextos,
  .acessorios:hover .categoriaTextos,
  .medicamentos:hover .categoriaTextos {
    background-image: url(#);
    opacity: 100%;
    color: rgba(226, 199, 199, 0.89);
  }
  
  .racoes:hover,
  .acessorios:hover,
  .medicamentos:hover {
    background-color: #374375;
    overflow: hidden;
  }
  
  .categoriaTextos {
    position: relative;
    transition: 0.5s;
    opacity: 0%;
    font-size: 2rem;
  }

  .favorites {
    width: 80vw;
    height: 85vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: rgba(198, 198, 198, 0.562) 0.2rem solid;
    margin: 90px 0;
    gap: 40px;
    padding: 0 0 30px 0;
  }
  
  .favorites h1 {
    position: absolute;
    top: 520px;
    font-size: 20px;
  }
  .racaoI {
    display: flex;
    gap: 10px;
  }

.racaoII {
    display: flex;
    gap: 20px;
}
  .Racao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 210px;
    width: 140px;
    background-color: #dfbfb6a2;
    border-radius: 30px;
    gap: 20px;
    color: #374375;
    box-shadow: 10px 10px 10px rgba(155, 155, 155, 0.616);
    position: relative;
  }
  
  .Racao img {
    border-radius: 30px;
    height: 50px;
    margin-top: 50px;
  }
  
  .adicionar {
    border-radius: 20px;
    padding: 3px;
    font-size: 12px;
    margin-top: -12px;
  }
  
  .color {
    width: 130px;
    height: 100px;
    text-align: center;
    background-color: #f8ebe2;
    border-radius: 20px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 15px;
    margin-top: -15px;
  }
  
  .adicionar {
    border: none;
    margin-bottom: 50px;
  }
  
  .adicionar:hover {
    color: #ffffff;
    background-color: #374375;
    box-shadow: 3px 3px 0rem rgba(0, 0, 0, 0.233);
  }

  footer {
    width: 100vw;
    height: 25vh;
    margin-top: 20px;
    background-color: #89515981;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    box-shadow: #afa39f69 3px 3px 2px;
    gap: 5px;
    position: relative;
    text-align: center;
    align-content: center;
  }
  
  footer > h2 {
    position: absolute;
    top: 20px;
  }
  footer a {
    display: flex;
    color: #895159;
    list-style-type: none;
    font-size: 11px;
  }
  
  footer a:hover {
    color: #374375;
  }
  
  .logo img {
    width: 40px;
  }
  
  .autores {
    position: absolute;
    bottom: 0;
    padding: 2px;
  }
  
  .patrocinadores {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
}